<p>listall works!</p>

<div>
    <!-- <form>
        <input type="text" placeholder="name" [(ngModel)]="name" name="name">
        <input type="text" placeholder="price" [(ngModel)]="price" name="price">
        <input type="text" placeholder="quatity" [(ngModel)]="qty" name="qty">
        
    </form> -->
</div>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let product of products">
            <td>

            </td>
        </tr> -->
    </tbody>
</table>